html{
	height:100%;
}
body {
 	background: #2679ff;
	background: -webkit-linear-gradient(90deg, #2578fc, #307fff);
	background: linear-gradient(90deg, #2578fc, #307fff);
	min-width: 960px;
	height:100%;
}

#title {
	color:#ffffff;
	-webkit-animation: fadein 1.5s;
       	-moz-animation: fadein 1.5s;
        -ms-animation: fadein 1.5s;
        -o-animation: fadein 1.5s;
        animation: fadein 1.5s;
	text-align:center;
	margin:auto;
	font-weight:300;
	font-size:300%;
	font-family:Arial;
}

#end {
	margin-bottom:0px;
	margin-top:64%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
